<div class="container-fluid bg-dark">
<div class="row">
  <div class="col-md-12 cal-sm-12">

  <div class="boxes">
    <a href="{{Games.game1.url}}">
      <img src="{{Games.game1.img}}">
    </a>
    <p class="bottom">{{Games.game1.name}}</p>
  </div>

<div class="boxes">
  <a href="{{Games.game2.url}}">
    <img src="{{Games.game2.img}}">
  </a>
  <p class="bottom">{{Games.game2.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game3.url}}">
    <img src="{{Games.game3.img}}">
  </a>
  <p class="bottom">{{Games.game3.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game4.url}}">
    <img src="{{Games.game4.img}}">
  </a>
  <p class="bottom">{{Games.game4.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game5.url}}">
    <img src="{{Games.game5.img}}">
  </a>
  <p class="bottom">{{Games.game5.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game6.url}}">
    <img src="{{Games.game6.img}}">
  </a>
  <p class="bottom">{{Games.game6.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game7.url}}">
    <img src="{{Games.game7.img}}">
  </a>
  <p class="bottom">{{Games.game7.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game8.url}}">
    <img src="{{Games.game8.img}}">
  </a>
  <p class="bottom">{{Games.game8.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game9.url}}">
    <img src="{{Games.game9.img}}">
  </a>
  <p class="bottom">{{Games.game9.name}}</p>
</div>

<div class="boxes">
  <a href="{{Games.game10.url}}">
    <img src="{{Games.game10.img}}">
  </a>
  <p class="bottom">{{Games.game10.name}}</p>
</div>
  <!--  <iframe src="https://html5.gamedistribution.com/912e740c574741b1af92e99c12cce6d5/" width="" height="640" scrolling="none" frameborder="0"></iframe> -->
  </div>
</div>
</div>
